@model Deal.Models.Prestador

@{
    if(ViewBag.Cliente != null){
        Layout = "_LayoutCliente";
    }else
    if(ViewBag.Prestador != null){
        Layout = "_LayoutPrestador";
    }
    ViewData["Title"] = "Prestador";
    var areasAtuacao = ViewBag.areasAtuacaoFk;
}
<div class="titulo_formulario_index">
    <h1 style="font-weight: 840; font-size: 45px;">Perfil de @Model.Nome</h1>
</div>
<div class="userDetails">
    <dl class="userInfo">
        <dd class="userImageInfo">
            <img src="@Html.DisplayFor(model => model.FotoPrestador)" alt="" srcset="" width="300px">
        </dd>
        <h3 class="userName">@Html.DisplayFor(model => model.Nome)</h3>
        <div class="userBasicInfo">
            <div class="row">
                <div class="infoUserDetails">
                    <dt >
                        @Html.DisplayNameFor(model => model.Idade) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Idade)
                    </dd>
                </div>
                <div class="infoUserDetails">
                    <dt >
                        Serviços Realizados:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.QtdServicoRealizados)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="infoUserDetails">
                    <dt >
                        Pontuação:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Pontuacao)
                    </dd>
                </div>
                <div class="infoUserDetails">
                    <dt style="display: flex; align-items: center;">
                        Link do Prestador:
                    </dt>
                    <dd style="display: flex; align-items: center;>
                        <input style="display: none;" type="text" value="https://localhost:7234/Prestadores/Details/@Model.PrestadorId" id="linkPrestador">
                        <button  onclick="copiarLinkPrestador()" onmouseout="outFunc()" style="width: 300px;" class="btn btn-roxo-escuro">Copiar link do prestador</button>
                        <span class="tooltiptext" id="myTooltip"></span>
                    </dd>
                </div>
            </div>
        </div>
        <div class="infoUserDetails">
            <dt>
                Sobre o Prestador:
            </dt>
            <dd>
                @if (Model.Portfolio.Apresentacao != null)
                {
                    <p>@Model.Portfolio.Apresentacao</p>
                }
            </dd>
        </div> 
        <div class="infoUserDetails">
            <dt>
                Experiência:
            </dt>
            @if (Model.Portfolio.ExperienciaProfissional != null)
            {
                <dd>
                    <p>@Model.Portfolio.ExperienciaProfissional</p>
                </dd>
            }
        </div>
        <div class="infoUserDetails">
            <dt >
                Locais de Atuação:
            </dt>
            <dd class="locaisDeAtuacao">
                @if(Model.LocaisDoPrestador != null){
                    foreach (var local in ViewData["LocaisDoPrestador"] as List<LocalDoPrestador>)
                    {
                        <li>@local.Cidade</li>
                    }
                }
            </dd>
        </div>
        <div class="infoUserDetails">
            <dt >
                Área de Atuação
            </dt>         
            @if (Model.AreasAtuacao != null)
            {
            <dd class ="areasDeAtuacaoDoPrestador">
                @foreach (var item in ViewData["AreasDoPrestador"] as List<AreaAtuacao>)
                {
                    <li>@item.Atuacao</li>
                }
            </dd>
            }
        </div>
        <div class="infoUserDetails">
            <dt>
                Fotos
            </dt>  
        @if (Model.Portfolio.Fotos != null)
        {
            @foreach (var foto in Model.Portfolio.Fotos)
            {
                <dd>
                    <img src="@foto.FotoPrestador" style="width: 200px !important;">
                </dd>
            }
        } 
        </div>
        <div class="infoUserDetails">
            <dt >
                Certificados
            </dt>  
            @if (Model.Portfolio.Certificados != null)
            {
                @foreach (var certificado in Model.Portfolio.Certificados)
                {
                    <img src="@certificado.CertificadoFotoPortfolio" style="width: 200px !important;">
                }
            }
        </div>
    </dl>
</div>

