@model Deal.Models.Prestador

@{
    ViewData["Title"] = "Detalhes";
    Servico servico = new Servico();
    Layout = "_LayoutPrestador";
}

<a asp-action="Home" asp-controller="Prestadores" asp-route-id="@Model.PrestadorId" class="btn btn-info">Retornar a pagina inicial</a>
<h1>Detalhes</h1>
<div>
    <h4>Serviços</h4>
    <hr/>
</div>

<table>
    @foreach (var item in ViewData["Servicos"] as IList<Servico>)
    {
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>CEP</th>
            <th>Cidade</th>
            <th>Endereço</th>
            <th>Categoria</th>
        </thead>
        <tbody>
            <td>
                @item.Nome
            </td>
            <td>
                @item.Descricao
            </td>
            <td>
                @item.Cep
            </td>
            <td>
                @item.Cidade
            </td>
            <td>
                @item.Endereco
            </td>
            <td>
                @item.Categoria.Atuacao
            </td>
            <td>
                <form aps-action="FindService" method="post">
                    <input name="servicoId" value="@item.ServicoId" type="hidden">
                    <input asp-for="PrestadorId" name="prestadorId" type="hidden">
                    <button type="submit" value="Tenho interesse" class="btn btn-primary">Tenho interesse</button>
                </form>
            </td>
        </tbody>

    }
</table>
<div>
    <a asp-action="Home" asp-route-id="@ViewBag.PrestadorId">Retornar</a>
</div>
