@model Deal.Models.Prestador

@{
    ViewData["Title"] = "Detalhes";
    Servico servico = new Servico();
}

<h1>Detalhes</h1>

<div>
    <h4>Serviço</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        </dd>
        <dt class="col-sm-2">
            CEP
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>

    </dl>
</div>

<table>
    @foreach (var item in ViewData["Servicos"] as IList<Servico>)
    {
        <thead>
            <th>Nome</th>
            <th>Descrição</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Categoria</th>
        </thead>
        <tbody>
            <td>
                @item.Nome
            </td>
            <td>
                @item.Descricao
            </td>
            <td>
                @item.Cep
            </td>
            <td>
                @item.Endereco
            </td>
            <td>
                @item.Categoria.Atuacao
            </td>
            <td>
                <form aps-action="FindService" method="post">
                    <input name="servicoId" value="@item.ServicoId" type="hidden">
                    <input asp-for="PrestadorId" name="prestadorId" type="hidden">
                    <button type="submit" value="Tenho interesse" class="btn btn-primary">Tenho interesse</button>
                </form>
            </td>
        </tbody>

    }
</table>
<div>
    <a asp-action="Index">Retornar</a>
</div>
