@model IEnumerable<Deal.Models.Prestador>

@{
    ViewData["Title"] = "Index";
}

<div class="titulo_formulario">
    <h1 style="font-weight: 840; font-size: 45px;">Seus perfis</h1>
</div>

<div class="container" style="margin-left: 70px;">
    <div class="tabela">
        <table class="table">
            <thead class="thead_tabela">
                <tr>
                    <th style="padding-right: 70px;">
                        Foto
                    </th>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Portfolio)
                    </th>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th style="padding-right: 70px;">
                        CEP
                    </th>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Idade)
                    </th>
                    <th style="padding-right: 70px;">
                        Endereço
                    </th>
                    <th style="padding-right: 70px;">
                        CEP
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="thead_tabela3">
                        <td class="td_tabela" style="padding-right: 10px;">
                            <img src="@Html.DisplayFor(modelItem => item.FotoPrestador)" alt=""
                            width="90px" style="padding: 10px">
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;"> 
                            @Html.DisplayFor(modelItem => item.Portfolio.PortfolioId)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td class="td_tabela" style="padding-right: 10px;">
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table">
            <thead class="thead_tabela">
                <tr>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Senha)
                    </th>
                    <th style="padding-right: 70px;">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th style="padding-right: 70px;">
                        Serviços Realizados
                    </th>
                    <th style="padding-right: 70px;">
                        Pontuação
                    </th>
                    <th style="padding-right: 70px;">
                        Acordos Cancelados
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="thead_tabela3">
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Cep)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Senha)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.QtdServicoRealizados)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Pontuacao)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.AcordosCancelados)
                        </td>
                    </tr>
                    <td l>
                        <a asp-action="Edit" type="submit" class="btn" asp-route-id="@item.PrestadorId"
                        style="font-weight: 600; margin: 10px;background-color: #b780e7;">Editar</a>
                        <a asp-action="Details" type="submit" class="btn" asp-route-id="@item.PrestadorId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Detalhes</a>
                        <a asp-action="Delete" type="submit" class="btn" asp-route-id="@item.PrestadorId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Apagar</a>
                        <a asp-action="Home" type="submit" class="btn" asp-route-id="@item.PrestadorId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Home</a>
                        <a asp-controller="Servicos" asp-action="Create" type="submit" class="btn"
                        asp-route-id="@item.PrestadorId" style="font-weight: 600; margin: 10px; background-color: #b780e7;">Criar
                            Servico</a>
                    </td>
                }
            </tbody>
        </table>
        <a asp-controller="Prestadores" asp-action="Create" type="submit" class="btn" style="font-weight: 600; margin: 10px; background-color: blueviolet;">Criar novo prestador</a>
    </div>
</div>