@model IEnumerable<Deal.Models.Prestador>

@{



    ViewData["Title"] = "Index";
}

<div class="titulo_formulario_index">
    <h1 style="font-weight: 840; font-size: 45px;">Seus perfis</h1>
</div>

<div class="container centralizar">
    <div class="tabela">
        <table class="table">
            <thead class="thead_tabela">
                <tr>
                    <th style="padding-right: 50px;">
                        Foto
                    </th>
                    <th style="padding-right: 100px;">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th style="padding-right: 30px;">
                        @Html.DisplayNameFor(model => model.Idade)
                    </th>
                    <th style="padding-right: 100px;">
                        Endereço
                    </th>
                    <th style="padding-right: 50px;">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th style="padding-right: 40px;">
                        Serviços Realizados
                    </th>
                    <th style="padding-right: 70px;">
                        Pontuação
                    </th>
                    @* <th style="padding-right: 70px;">
                        Área de atuação
                        </th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)



                {
                    <tr class="thead_tabela3">
                        <td class="td_tabela" style="padding-right: 30px;">
                            <img src="@Html.DisplayFor(modelItem => item.FotoPrestador)" alt="" width="90px"
                            style="padding: 10px">
                        </td>
                        <td class="td_tabela" style="padding-right: 20px;">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td class="td_tabela" style="padding-right: 10px;">
                        <td class="td_tabela" style="padding-right: 50px;">
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td class="td_tabela" style="padding-right: 160px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.QtdServicoRealizados)
                        </td>
                        <td class="td_tabela" style="padding-right: 50px; padding-left: 40px">
                            @Html.DisplayFor(modelItem => item.Pontuacao)
                        </td>
                    </tr>
                    <td>

                        <a asp-action="Details" type="submit" class="btn" asp-route-id="@item.PrestadorId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Detalhes</a>


                    </td>
                }
            </tbody>
        </table>
    </div>
</div>
