@model IEnumerable<Deal.Models.Prestador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portfolio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                CEP
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                Endereço
            </th>
            <th>
                CEP
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Serviços Realizados
            </th>
            <th>
                Pontuação
            </th>
            <th>
                Acordos Cancelados
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="300px" height="300px" src="@Html.DisplayFor(modelItem => item.FotoPrestador)" alt=""
                    srcset="">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Portfolio.PortfolioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdServicoRealizados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontuacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcordosCancelados)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PrestadorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PrestadorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.PrestadorId">Apagar</a> |
                    <a asp-controller="Servicos" asp-action="ServicosPendentes" asp-route-id="@item.PrestadorId">Serviços
                        Solicitados</a> |
                    <a asp-action="FindService" asp-route-id="@item.PrestadorId">Buscar Serviços</a>
                </td>
            </tr>
        }
    </tbody>
</table>
