@model Deal.Models.Servico

@{
    ViewData["Title"] = "Delete";
}

<div class="container_delete" style="justify-content: left; align-items: left;">

<h1 style="font-weight: 840; font-size: 45px; margin-bottom: 10px;">Deletar conta</h1>
<h4>Você tem certeza que deseja deletar esta conta?</h4>
<div>
    <hr style="margin: 40px 0 20px;"/>
    <dl class="row" style="display: flex; justify-content: left; align-items: left;">
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            Serviço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            Descrição
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            Endereço
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            Cidade
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            Número
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            CEP
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cep)
        </dd>
        <dt class = "col-sm-2">
            Categoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Atuacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ServicoId" />
        <input type="submit" value="Apagar" class="btn btn-vermelho" style="font-weight: 600;" />
        <a asp-action="Home" asp-route-id="@Model.ServicoId" class="btn btn-roxo" style="font-weight: 600;">Retornar</a>
    </form>
</div>
</div>
