@model Deal.Models.Servico

@{
    ViewData["Title"] = "Detalhes";
}
<div class="contentTitle">
    <h1>Detalhes do Serviço</h1>
</div>

<div class="ServiceDetailsCard">
    <div>
        <dl>
            <div class="ServiceDetailsCardInfo">
                <dt>
                    Cliente :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cliente.Nome)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    Serviço :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    Descrição:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    Endereço :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Endereco)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    @Html.DisplayNameFor(model => model.Estado) :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    @Html.DisplayNameFor(model => model.Cidade) :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    Número :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Numero)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    CEP :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cep)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    @Html.DisplayNameFor(model => model.Categoria) :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Categoria.Atuacao)
                </dd>
            </div>
            <div class="ServiceDetailsCardInfo">
                <dt >
                    @Html.DisplayNameFor(model => model.Status) :
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </div>
            <div >
                <a asp-action="MeusServicos" asp-controller="Servicos" asp-route-id="@Model.FkCliente" class=" btn btn-roxo" style="width: 100%;">Retornar</a>
            </div>
        </dl>
    </div>
</div>
