@model IEnumerable<Deal.Models.Servico>
@{
    ViewData["Title"] = "Meus Serviços";
    int ClienteId = ViewBag.ClienteId;
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Home" asp-controller="Clientes" asp-route-id="@ClienteId" class="btn btn-info">Retornar a pagina inicial</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkPrestador)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Atuacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prestador.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ServicoId">Detalhes</a> |
                    @if (item.IsAcordoFeito)
                    {
                        <a asp-action="HomePage" asp-route-id="@item.ServicoId">Ver Acordo</a> 
                    }
                    @if (item.IsDisponivel == true || item.IsAcordoFeito != true)
                    {
                        <a asp-action="AddPrestador" asp-route-id="@item.ServicoId">Selecionar Prestador</a> 
                    }
                    |
                    @if (item.IsAcordoFeito != true )
                    {
                        <a asp-action="ConfirmarAcordo" asp-route-id="@item.ServicoId">Confirmar Acordo</a> 
                    }
                    |
                    @if (item.IsAcordoFeito != true)
                    {
                        <a asp-action="ClienteCancelaServico" asp-route-id="@item.ServicoId">Cancelar Servico</a>
                    }
                    |
                    <a asp-action="PrestadorCancelaServico" asp-route-id="@item.ServicoId">prestador Cancelar Servico</a>
                </td>
            </tr>
        }
    </tbody>
</table>