@model IEnumerable<Deal.Models.Servico>
@{
    ViewData["Title"] = "Serviços Pendentes";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                Serviço
            </th>
            <th>
                Descrição
            </th>
            <th>
                Endereço
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                Número
            </th>
            <th>
                CEP
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Atuacao)
                </td>
                

                <td>
                    <a asp-action="Details" asp-route-id="@item.ServicoId">Ver Serviço</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServicoId">Apagar</a> |
                </td>
                <td>
                <div class="form-group">
                    <form asp-action="ServicosPendentes" method="post">
                        <input type="hidden" name="servicoId" value="@item.ServicoId"/>
                        <input type="hidden" name="prestadorId" value="@item.FkPrestador">
                        <input name="escolha" type="submit" value="Recusar" class="btn btn-danger" />
                        <input name="escolha" type="submit" value="Aceitar" class="btn btn-success" />
                    </form>
                </div>
                </td>
            </tr>
        }
    </tbody>
</table>