@model IEnumerable<Deal.Models.Servico>
@{
    ViewData["Title"] = "Serviços Pendentes";
    Layout = "_LayoutPrestador";
}

<div class="titulo_formulario_index centralizar">
        <h1 style="font-weight: 840; font-size: 45px;">Seus serviços</h1>
    </div>
<div class="container centralizar">

    @foreach (var item in Model)
    {   
        <div class="container centralizar">
            <div class="servicos-page">
            <div class="txt-cliente-servicos">
                <div class="row centralizar">
                    <dl class="row">
                        <dt class="col-sm-2">
                            Servico:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            Categoria:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Categoria.Atuacao)
                        </dd>
                        <dt class="col-sm-2">
                            Descrição:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </dd>
                        <dt class="col-sm-2">
                            Endereço:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </dd>
                        <dt class="col-sm-2">
                            Cidade:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(modelItem => item.Cidade)
                        </dd>
                    </dl>
                </div>
                <div class="group-cliente-servicos-buttons">
                    <div class="form-group">
                        <a asp-action="Details" asp-controller="Clientes" asp-route-id="@item.FkCliente" class="btn btn-info" target="_blank" asp-route-idUser="@item.FkPrestador" asp-route-user="Prestador">Ver Cliente</a>
                        <form asp-action="ServicosPendentes" method="post">
                            <input type="hidden" name="servicoId" value="@item.ServicoId"/>
                            <input type="hidden" name="prestadorId" value="@item.FkPrestador">
                            <input name="escolha" type="submit" value="Recusar" class="btn btn-vermelho" />
                            <input name="escolha" type="submit" value="Aceitar" class="btn btn-verde" />
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    }
    </div>
</div>