@{
    ViewData["Title"] = "AcordosPrestador";
    Layout = "_LayoutPrestador";
    @model IEnumerable<Acordo>
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Home" asp-controller="Prestadores" asp-route-id="@ViewBag.PrestadorIdAcordo" class="btn btn-info">Retornar a pagina inicial</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero do acordo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcordoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkServico)
            </td>
            <td>
                <a asp-action="AcordoPrestador" asp-route-id="@item.AcordoId" class="btn btn-info">Ver mais</a>
            </td>
        </tr>
}
    </tbody>
</table>