@model IEnumerable<Deal.Models.Acordo>
@{
    ViewData["Title"] = "Acordos Cliente";
    int clienteIdAcordo = ViewBag.ClienteIdAcordo;
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Home" asp-controller="Clientes" asp-route-id="@clienteIdAcordo" class="btn btn-info">Retornar a pagina inicial</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero do acordo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico.Nome)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AcordoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkServico)
            </td>
            <td>
                <a asp-action="HomePage" asp-route-id="@item.AcordoId" class="btn btn-info">Ver mais</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="container" style="margin-left: 70px;">
    <div class="tabela">
        <table class="table">
            <thead class="thead_tabela">
                <tr>
                    <th style="padding-right: 70px;">
                        Número do acordo
                    </th>
                    <th style="padding-right: 70px;">
                         @Html.DisplayNameFor(model => model.Servico.Nome)
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="thead_tabela3">
                        <td class="td_tabela" style="padding-right: 10px;"> 
                           @Html.DisplayFor(modelItem => item.AcordoId)
                        </td>
                        <td class="td_tabela" style="padding-right: 10px;">
                             @Html.DisplayFor(modelItem => item.FkServico)
                        </td class="td_tabela" style="padding-right: 10px;">
            
                    </tr>
                <a asp-action="HomePage" type="submit" asp-route-id="@item.AcordoId" class="btn" style="font-weight: 600; margin: 10px; background-color: blueviolet;">Criar novo prestador</a>
                }
            </tbody>
        </table>
    </div>
</div>