@model Deal.Models.Acordo
@{
    ViewData["Title"] = "Finalizar acordo";
}


<div class="container_delete" style="justify-content: left; align-items: left;">
    <h2 style="font-weight: 840; font-size: 30px; margin-bottom: 10px;">Deseja finalizar esse acordo?</h2>
    <div>
        <hr style="margin: 40px 0 20px;"  />
        <dl class="row" style="display: flex; justify-content: left; align-items: left;">
            <dt class="col-sm-3">
                Serviço: 
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Servico.Nome)
            </dd>
            <dt class="col-sm-3">
                Descrição:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Servico.Descricao)
            </dd>
            <dt class="col-sm-3">
                Endereço:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Servico.Endereco)
            </dd>
            <dt class="col-sm-3">
                Categoria:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Servico.Categoria.Atuacao)
            </dd>
            <form asp-action="PrestadorFinalizaAcordo" method="post">
                <input type="hidden" asp-for="AcordoId">
                <button type="submit" name="Finalizar" class="btn btn-primary" value="true">Finalizar</button>
                <a asp-action="Home" asp-controller="Prestadores" asp-route-id="@Model.Servico.FkPrestador" class="btn btn-roxo"
                style="font-weight: 600;">Retornar</a>
            </form>
        </dl>
    </div>
</div>