@model IEnumerable<Deal.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideoPrestador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portfolio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoPrestador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portfolio.PortfolioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VideoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VideoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VideoId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
