@model IEnumerable<Deal.Models.LocalDoPrestador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <a asp-action="Home" asp-controller="Prestadores" asp-route-id="@ViewBag.PrestadorId" >Retornar para home page</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocalDoPrestadorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocalDoPrestadorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocalDoPrestadorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>