@model IEnumerable<Deal.Models.LocalDoPrestador>

@{
    ViewData["Title"] = "Locais de Atuação";
}



<a asp-action="Home" asp-controller="Prestadores" asp-route-id="@ViewBag.PrestadorId"
    class="btn btn-roxo-escuro">Retornar para home page</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>

                    <a asp-action="Delete" class="btn btn-vermelho" asp-route-id="@item.LocalDoPrestadorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-roxo" asp-route-id="@ViewBag.PrestadorId" asp-action="Create">Criar</a>
</p>