@model IEnumerable<Deal.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apresentacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkedin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienciaProfissional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apresentacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkedin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienciaProfissional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PortfolioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PortfolioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PortfolioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
