@model IEnumerable<Deal.Models.Portfolio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar Portfolio</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExperienciaProfissional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienciaProfissional)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PortfolioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PortfolioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PortfolioId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
