@model IEnumerable<Deal.Models.NovaAreaAtuacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Atuacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isOnline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Atuacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isOnline)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NovaAreaAtuacaoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NovaAreaAtuacaoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NovaAreaAtuacaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
