@model Deal.Models.Cliente

@{
    if(ViewBag.Cliente != null){
        Layout = "_LayoutCliente";
    }else
    if(ViewBag.Prestador != null){
        Layout = "_LayoutPrestador";
    }
    ViewData["Title"] = "Prestador";
    var areasAtuacao = ViewBag.areasAtuacaoFk;
}
<div class="titulo_formulario_index">
    <h1 style="font-weight: 840; font-size: 45px;">Perfil de @Model.Nome</h1>
</div>
<div class="userDetails">
    <dl class="userInfo">
        <dd class="userImageInfo">
            <img src="@Html.DisplayFor(model => model.FotoUsuario)" alt="" srcset="" width="300px">
        </dd>
        <h3 class="userName">@Html.DisplayFor(model => model.Nome)</h3>
        <div class="userBasicInfo">
            <div class="row">
                <div class="infoUserDetails">
                    <dt >
                        @Html.DisplayNameFor(model => model.Idade) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Idade)
                    </dd>
                </div>
                <div class="infoUserDetails">
                    <dt >
                        Serviços Realizados:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.QtdAcordoRealizados)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="infoUserDetails">
                    <dt >
                        Pontuação:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Pontuacao)
                    </dd>
                </div>
                <div class="infoUserDetails">
                    <dt >
                        Acordos Cancelados:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AcordosCancelados)
                    </dd>
                </div>
            </div>
        </div>
    </dl>
</div>

