@model Deal.Models.Cliente
@{
    ViewData["Title"] = "Home";
}

<div>
    <div class="titulo_formulario_index">
        <h1 style="font-weight: 840; font-size: 45px;">Seu perfil</h1>
    </div>
    <div class="container centralizar">
        <div class="Cliente-home">
            <div class="row">
                <div class="centralizar" style="margin-bottom: 15px;">
                    <div style="width: 290px;">
                        <img style="width: 290px; height: 290px; border-radius: 50%; border: solid blueviolet; "
                            src="@Html.DisplayFor(model => model.FotoUsuario)"></img>
                    </div>
                </div>
                <div class="centralizar" style="margin-bottom: 15px;">
                    <div style="width: 290px;">
                        <a style="font-weight: 700; font-size: 30px; margin-top: 20pxtext-align: center;"> @Html.DisplayFor(model =>
                            model.Nome)</a>
                    </div>
                </div>
            </div>
            <div class="txt-cliente-home">
                <div class="row centralizar">
                    <div class="row">
                        <dt class="col-3">
                            CPF:
                            <a style="font-weight: 400;"> @Html.DisplayFor(model => model.Cpf)</a>
                        </dt>
                        <dt class="col-3">
                            Idade:
                            <a style="font-weight: 400;"> @Html.DisplayFor(model => model.Idade)</a>
                        </dt>
                        <dt class="col-5">
                            Endereço:
                            <a style="font-weight: 400; width: 300px;">@Html.DisplayFor(model => model.Endereco)</a>
                        </dt>
                        <div class="row" style="margin-top: 20px;">
                            <dt class="col-3">
                                Telefone:
                                <a style="font-weight: 400; width: 400px;">@Html.DisplayFor(model => model.Telefone)</a>
                            </dt>
                            <dt class="col-3" style="width: 400px;">
                                Email:
                                <a style="font-weight: 400;">@Html.DisplayFor(model => model.Email)</a>
                            </dt>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <dt class="col-3">
                                Acordos Realizados:
                                <a style="font-weight: 400; width: 500px;">@Html.DisplayFor(model =>
                                    model.QtdAcordoRealizados)</a>
                            </dt>
                            <dt class="col-3">
                                CEP:
                                <a style="font-weight: 400;">@Html.DisplayFor(model => model.Cep)</a>
                            </dt>
                        </div>
                    </div>
                    <div class="group-cliente-home-buttons">
                        <div style="">
                        <a asp-action="Details" asp-route-id="@Model.ClienteId" class="btn btn-roxo"
                            style="font-weight: 600; margin: 10px; ">Detalhes</a>
                        <a asp-action="AddPrestador" asp-route-id="@Model.ClienteId" class="btn btn-roxo"
                            style="font-weight: 600; margin: 10px;">Ver Serviço</a>
                        <a asp-action="MeusServicos" asp-route-id="@Model.ClienteId" class="btn btn-roxo"
                            style="font-weight: 600; margin: 10px;">Ver Acordos</a>
                        <a asp-action="HomePage" asp-route-id="@Model.ClienteId" class="btn btn-verde"
                            style="font-weight: 600; margin: 10px;">Criar Serviço</a>
                        <a asp-action="Delete" asp-route-id="@Model.ClienteId" class="btn btn-vermelho "
                            style="font-weight: 600; margin: 10px;">Deletar Conta</a>
                       </div>
                       <div>
                        <a asp-action="Edit" asp-route-id="@Model.ClienteId" class="btn btn-roxo-escuro"
                            style="font-weight: 600; margin: 10px; width: 720px;">Editar Perfil</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
