@model IEnumerable<Deal.Models.Cliente>

@{

    ViewData["Title"] = "Index";
}


<div class="titulo_formulario_index">
    <h1 style="font-weight: 840; font-size: 45px;">Seus perfis</h1>
</div>

<div class="container" style="margin-left: 70px;">
    <div class="tabela">
        <table class="table">
            <thead class="thead_tabela">
                <tr>
                    <th style="padding-right: 50px;">
                        Foto
                    </th>
                    <th style="padding-right: 100px;">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th style="padding-right: 30px;">
                        @Html.DisplayNameFor(model => model.Idade)
                    </th>
                    <th style="padding-right: 100px;">
                        Endereço
                    </th>
                    <th style="padding-right: 60px;">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th style="padding-right: 40px;">
                        Acordos Realizados
                    </th>
                    <th style="padding-right: 70px;">
                        Pontuação
                    </th>
                    @* <th style="padding-right: 70px;">
                        Área de atuação
                        </th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="thead_tabela3">
                        <td class="td_tabela" style="width: 120px;">
                            <img src="@Html.DisplayFor(modelItem => item.FotoUsuario)" alt="" width="90px"
                            style="padding: 10px">
                        </td>
                        <td class="td_tabela" style="width: 120px;">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td class="td_tabela" style="padding-right: 10px;">
                        <td class="td_tabela" style="width: 120px; margin-left: 50px;">
                            @Html.DisplayFor(modelItem => item.Idade)
                        </td>
                        <td class="td_tabela" style="width: 160px; margin-left: -40px;">
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td class="td_tabela" style="width: 160px; margin-left:30px;">
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td class="td_tabela" style="width: 160px; margin-left: -10px;">
                            @Html.DisplayFor(modelItem => item.QtdAcordoRealizados)
                        </td>
                        <td class="td_tabela" style="width: 160px; margin-left: 40px;">
                            @Html.DisplayFor(modelItem => item.Pontuacao)
                        </td>
                    </tr>
                    <td>
                        <a asp-action="Edit" type="submit" class="btn" asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px;background-color: #b780e7;">Editar</a>
                        <a asp-action="Details" type="submit" class="btn" asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Detalhes</a>
                        <a asp-action="Home" type="submit" class="btn" asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px; background-color: #b780e7;">Home</a>
                        <a asp-action="Delete" type="submit" class="btn" asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px; background-color: #e21122;">Apagar</a>
                        <a asp-controller="Servicos" asp-action="Create" type="submit" class="btn"
                        asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px; background-color: #35e44c;">Criar
                            Servico</a>
                        <a asp-controller="Servicos" asp-action="MeusServicos" type="submit" class="btn"
                        asp-route-id="@item.ClienteId"
                        style="font-weight: 600; margin: 10px; background-color: #661da7;">Meus serviços</a>

                    </td>
                }
            </tbody>
        </table>
        <a asp-controller="Clientes" asp-action="Create" type="submit" class="btn"
            style="font-weight: 600; margin: 10px; background-color: blueviolet;">Criar novo cliente</a>
    </div>
</div>
