@model IEnumerable<Deal.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <p class="tabela_h1">Index</p>

</div>

<div class="container">
    <table class="table">
        <thead>
            <tr class="thead-dark" style="background-color: blueviolet; padding: 10px; color: white">
                <th>
                    @Html.DisplayNameFor(model => model.FotoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefone)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.Senha)
                    </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QtdAcordoRealizados)
                </th>
                <th>
                    @* @Html.DisplayNameFor(model => model.Pontuacao) *@
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.FotoUsuario)" alt="" width="300px" height="300px">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cpf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endereco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone)
                    </td>
                    @* <td>
                        @Html.DisplayFor(modelItem => item.Senha)
                        </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdAcordoRealizados)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.Pontuacao) *@
                    </td>
                </tr>
                <td class="container-fluid" style="padding-right: 20px;">
                    <button asp-action="Edit" asp-route-id="@item.ClienteId" type="button" class="botao2">
                        <a asp-action="Edit" asp-route-id="@item.ClienteId" style="color: white;">Edit</a>
                    </button>
                    <button asp-action="Details" asp-route-id="@item.ClienteId" type="button" class="botao2">
                        <a style="color: white" asp-action="Details" asp-route-id="@item.ClienteId">Details</a>
                    </button>
                    <button asp-action="Delete" asp-route-id="@item.ClienteId" type="button" class="botao2">
                        <a style="color: white" asp-action="Delete" asp-route-id="@item.ClienteId">Delete</a>
                    </button>
                    <button asp-action="Home" asp-route-id="@item.ClienteId" type="button" class="botao2">
                        <a style="color: white" asp-action="Home" asp-route-id="@item.ClienteId">Home</a>
                    </button>
                    <button asp-controller="Servicos" asp-action="Create" asp-route-id="@item.ClienteId" type="button" class="botao2">
                        <a style="color: white" asp-controller="Servicos" asp-action="Create" asp-route-id="@item.ClienteId">Criar Servico</a>
                    </button>
                </td>
            }
        </tbody>
    </table>
    <button type="button" class="botao">
        <a asp-action="Create" style="color: white;">Create New</a>
    </button>
</div>
